<h4>Cast of {{details.title}}</h4>
	<div><b>Executive Producers: </b>{{details.shows[details.index].cast.exproducers}}</div>
	<div><b>Producers: </b>{{details.shows[details.index].cast.producers}}</div>
	<div><b>Editor: </b>{{details.shows[details.index].cast.editor}}</div>
	<div><b>Cinematography: </b>{{details.shows[details.index].cast.cinematography}}</div>




	<div class="modal-body">
									        <form role="form">
										    	<div class="form-group">
										      		<label for="usr">Executive Producers:</label>
										      		<input type="text" class="form-control" id="exprod">
										    	</div>
										    	<div class="form-group">
										      		<label for="pwd">Producers:</label>
										      		<input type="password" class="form-control" id="prod">
										    	</div>
										    	<div class="form-group">
										      		<label for="pwd">Editor:</label>
										      		<input type="password" class="form-control" id="editor">
										    	</div>
										    	<div class="form-group">
										      		<label for="pwd">Cinematography:</label>
										      		<input type="password" class="form-control" id="cine">
										    	</div>
										  </form>
									      </div>