<div style="width: 60%; margin:0 auto;">
    
    
    <form name="main.addForm" class="form" ng-submit="main.editShow()">

        <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" ng-model="main.show.title"  required />
        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="number" min="1900" max="2030" class="form-control" ng-model="main.show.year" required />
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control" ng-model="main.show.desc"  required />
        </div>
        <div class="form-group">
            <label>Image Url:</label>
            <input type="text" class="form-control" ng-model="main.show.image"  required />
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Favorite: <input type="checkbox" ng-model="main.show.favorite" /></label>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Save</button>
            </div>
        </div>
    </form>  
</div>
